<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:include="web/layout :: head"></th:block>
    <!--Angular JS-->
    <script th:src="@{/bower/angular/angular.min.js}"></script>
    <!--Angular Sanitize JS-->
    <script th:src="@{/bower/angular-sanitize/angular-sanitize.min.js}"></script>
    <!--My AngularJS Controller-->
    <script th:src="@{/js/controller/homeController.js}"></script>
    <!--Home AngularJS Service-->
    <script th:src="@{/js/service/WebService.js}"></script>
</head>
<body ng-app="ngApp" ng-controller="homeCtrl" ng-init="init()">
<th:block th:include="web/layout :: loading"></th:block>
<section class="page-wrapper">
    <th:block th:include="web/layout :: navbar"></th:block>
    <section class="truyen-main">
        <section class="container">
            <section class="truyen-section section-featured">
                <section class="featured-content">
                    <section class="row">
                        <section class="col-12 col-md-6 col-lg-4">
                            <section class="block block-editors-choice-slider">
                                <section class="block-content">
                                    <section class="editors-choice-slider js-editors-choice-slider">
                                        <h2 class="shadow-1">ĐỌC NHIỀU TRONG TUẦN</h2>
                                        <section class="swiper-container">
                                            <section class="swiper-wrapper">
                                                <section class="swiper-slide"
                                                         th:each="topstory,iterStat : ${topStoryWeek}"
                                                         th:if="${iterStat.index < 4}">
                                                    <section class="item">
                                                        <section class="thumb">
                                                            <a th:href="@{'/truyen/'+${topstory.sID}}"
                                                               th:title="${topstory.vnName}">
                                                                <img class="img-fluid lazyload" alt=""
                                                                     th:data-src="${topstory.sImages}"
                                                                     th:title="${topstory.vnName}">
                                                            </a>
                                                        </section>
                                                        <section class="info" style="">
                                                            <h2 class="title">
                                                                <a th:href="@{'/truyen/'+${topstory.sID}}"
                                                                   th:title="${topstory.vnName}"
                                                                   th:text="${topstory.vnName}"></a>
                                                            </h2>
                                                            <p class="description text-center"
                                                               style="-webkit-line-clamp: 3;"
                                                               th:text="${topstory.sInfo}"></p>
                                                        </section>
                                                    </section>
                                                </section>
                                            </section>
                                            <section
                                                    class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                                                <span class="swiper-pagination-bullet"></span>
                                                <span class="swiper-pagination-bullet"></span>
                                                <span class="swiper-pagination-bullet"></span>
                                                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                                <span class="swiper-pagination-bullet"></span>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="col-12 col-md-6 col-lg-4">
                            <section class="block">
                                <section class="block-content">
                                    <section class="editors-choice-list">
                                        <section class="row">
                                            <th:block th:each="topstory,iterStat : ${topStoryWeek}"
                                                      th:if="${(topStoryWeek.size()-6) le iterStat.index}">
                                                <section class="col-12 col-sm-12 col-md-6 btv-2">
                                                    <section class="item">
                                                        <h2 class="title">
                                                            <a th:href="@{'/truyen/'+${topstory.sID}}"
                                                               th:title="${topstory.vnName}"
                                                               th:text="${topstory.vnName}"></a>
                                                        </h2>
                                                        <section class="view text-secondary"><span
                                                                class="text-red fz-16" th:text="${topstory.cnt}"></span>
                                                            người truy cập
                                                        </section>
                                                        <p class="description" th:text="${topstory.SInfo}"></p>
                                                    </section>
                                                </section>
                                            </th:block>
                                            <section class="clearfix hidden-xs"></section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                        <section class="col-12 col-md-12 col-lg-4">
                            <section class="block block-default block-readers-choice">
                                <section class="block-header"><h2 class="title"> Top Tháng </h2></section>
                                <section class="block-content">
                                    <ul class="list-group">
                                        <li ng-repeat="storyVM in topViewMonth"
                                            class="list-group-item list-group-item-primary-me"
                                            ng-class="$index==0?'item-featured':''">
                                            <section class="content">
                                                <section class="index index-{{$index+1}} index-star">{{$index+1}}
                                                </section>
                                                <section class="info">
                                                    <h2 class="title">
                                                        <a ng-href="/truyen/{{storyVM.sID}}"
                                                           ng-attr-title="{{storyVM.vnName}}">{{storyVM.vnName}}</a>
                                                    </h2>
                                                    <section class="view text-secondary" ng-if="$index == 0">
                                                        <span class="text-red fz-16">{{storyVM.cnt}}</span> lượt
                                                    </section>
                                                    <section class="view text-secondary" ng-if="$index != 0">
                                                        {{storyVM.cnt}}
                                                    </section>
                                                    <section class="extra-info" ng-if="$index == 0">
                                                        <p>Thể Loại:
                                                            <a ng-href="/the-loai/{{storyVM.cid}}">{{storyVM.cname}}</a>
                                                        </p>
                                                        <p>Tác giả: <span>{{storyVM.sAuthor}}</span>
                                                        </p>
                                                    </section>
                                                </section>
                                                <section class="thumb" ng-if="$index == 0">
                                                    <section class="book-cover">
                                                        <a class="book-cover-link"
                                                           ng-href="/truyen/{{storyVM.sID}}"
                                                           ng-attr-title="{{storyVM.vnName}}">
                                                            <img ng-src="{{storyVM.sImages}}"
                                                                 ng-alt="{{storyVM.vnName}}">
                                                        </a> <span class="book-cover-shadow"></span>
                                                    </section>
                                                </section>
                                            </section>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>

            <section class="truyen-section">
                <section class="container">
                    <section class="row">
                        <section class="col-12 col-md-12 col-lg-4">
                            <section class="block block-default block-list-new">
                                <section class="block-header">
                                    <h3 class="title">
                                        Bạn đang đọc
                                        <span class="float-right">
                                        <a th:href="@{/tai-khoan/tu-truyen}">
                                            <small class="text-muted" style="font-size: 65%">Tủ truyện</small>
                                        </a>
                                    </span>
                                    </h3>
                                </section>
                                <section class="block-content">

                                </section>
                            </section>
                        </section>

                        <section class="col-12 col-md-12 col-lg-8">
                            <section class="block block-default block-list-new">
                                <section class="block-header">
                                    <h2 class="title text-uppercase">Mới Cập Nhật</h2>
                                </section>
                                <section class="block-content" id="dataTable">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-table"
                                            ng-repeat="storyNU in storyNewUpdate">
                                            <section class="content">
                                                <a class="thumb" ng-href="/truyen/{{storyNU.sid}}">
                                                    <img class="img-fluid" ng-src="{{storyNU.simages}}"
                                                         ng-alt="{{storyNU.vnName}}">
                                                </a>
                                                <section class="info">
                                                    <h2 class="title">
                                                        <a ng-href="/truyen/{{storyNU.sid}}"
                                                           ng-attr-title="{{storyNU.vnName}}">
                                                            <img class="img-fluid" src="/images/vip-vip.gif"
                                                                 ng-show="storyNU.sdealStatus === 1" alt="">
                                                            <span ng-class="storyNU.sdealStatus == 1?'shadow-2' : ''">{{storyNU.vnName}}</span>
                                                        </a>
                                                    </h2>
                                                    <section class="chap">{{storyNU.sauthor}}</section>
                                                    <section class="author">
                                                        <a ng-if="storyNU.chID != null"
                                                           ng-href="/truyen/{{storyNU.sid}}/chuong-{{storyNU.chID}}"
                                                           ng-attr-title="Chương {{storyNU.chNumber}}">Chương
                                                            {{storyNU.chNumber}}</a>
                                                        <a ng-if="storyNU.chID == null">&nbsp;</a>
                                                    </section>
                                                    <section class="time">
                                                        {{storyNU.udname?storyNU.udname:storyNU.uname}}
                                                    </section>
                                                </section>
                                            </section>
                                        </li>
                                    </ul>
                                    <section>
                                        <a th:href="@{/danh-muc/moi-cap-nhat}" class="float-right cnt-view">Xem
                                            tiếp</a>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section class="truyen-section section-featured">
            <section class="container">
                <section class="row">
                    <section class="col-12 col-md-12 col-lg-8">
                        <section class="block block-default">
                            <section class="block-header">
                                <h2 class="title text-uppercase">Truyện Vip</h2>
                            </section>
                            <section class="block-content">
                                <section class="row">
                                    <section class="col-12 col-md-12 col-lg-6">
                                        <section class="truyen-slider js-truyen-slider">
                                            <section class="slider-thumb">
                                                <section class="swiper-container">
                                                    <section class="swiper-wrapper">
                                                        <section class="swiper-slide"
                                                                 th:each="storyVip,iterStat : ${vipStory}"
                                                                 th:if="${iterStat.index < 4}">
                                                            <a class="item" th:href="@{'/truyen/'+${storyVip.SID}}"
                                                               th:title="${storyVip.vnName}">
                                                                <img th:src="${storyVip.SImages}"
                                                                     th:alt="${storyVip.vnName}"
                                                                     class="img-fluid img-thumbnail">
                                                            </a>
                                                        </section>
                                                    </section>
                                                    <section class="swiper-button-prev"><i
                                                            class="truyen-icon icon-prev"></i></section>
                                                    <section class="swiper-button-next"><i
                                                            class="truyen-icon icon-next"></i></section>
                                                </section>
                                            </section>
                                            <section class="slider-info">
                                                <section class="swiper-container">
                                                    <section class="swiper-wrapper">
                                                        <section class="swiper-slide"
                                                                 th:each="storyVip,iterStat : ${vipStory}"
                                                                 th:if="${iterStat.index < 4}">
                                                            <section class="item text-center">
                                                                <h2 class="title" th:text="${storyVip.vnName}"></h2>
                                                                <section class="view text-secondary"
                                                                         th:text="${storyVip.SAuthor}"></section>
                                                                <p class="description" th:text="${storyVip.SInfo}"></p>
                                                                <a th:href="@{'/truyen/'+${storyVip.SID}}"
                                                                   class="btn btn-truyen" title="xem tiếp">
                                                                    Xem chi tiết
                                                                </a>
                                                            </section>
                                                        </section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                    <section class="col-12 col-md-12 col-lg-6">
                                        <section class="block">
                                            <section class="block-content">
                                                <section class="editors-choice-list" style="border-bottom: none;">
                                                    <section class="row">
                                                        <th:block th:each="vStory,iterStat : ${vipStory}"
                                                                  th:if="${(vipStory.size()-6) le iterStat.index}">
                                                            <section class="col-12 col-sm-12 col-md-6 btv-2">
                                                                <section class="item">
                                                                    <h2 class="title">
                                                                        <a th:href="@{'/truyen/'+${vStory.SID}}"
                                                                           th:title="${vStory.vnName}"
                                                                           th:text="${vStory.vnName}"></a>
                                                                    </h2>
                                                                    <section class="view text-secondary"><span
                                                                            class="text-red fz-16"
                                                                            th:text="${vStory.SAuthor}"></span>
                                                                    </section>
                                                                    <p class="description"
                                                                       th:text="${vStory.SInfo}"></p>
                                                                </section>
                                                            </section>
                                                        </th:block>
                                                        <section class="clearfix hidden-xs"></section>
                                                    </section>
                                                </section>
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="col-12 col-md-12 col-lg-4">
                        <section class="block block-default block-readers-choice">
                            <section class="block-header"><h2 class="title"> Top Conveter</h2></section>
                            <section class="block-content">
                                <ul class="list-group">
                                    <li ng-repeat="conveter in topConveter"
                                        class="list-group-item list-group-item-primary-me"
                                        ng-class="$index==0?'item-featured':''">
                                        <section class="content">
                                            <section class="index index-{{$index+1}} index-star">{{$index+1}}</section>
                                            <section class="info">
                                                <h2 class="title">
                                                    <a ng-href="/member/{{conveter.uid}}"
                                                       ng-attr-title="{{conveter.udname?conveter.udname:conveter.uname}}">{{conveter.udname?conveter.udname:conveter.uname}}</a>
                                                </h2>
                                                <section class="view text-secondary" ng-if="$index == 0">
                                                    Số Truyện: <span class="text-red fz-16">{{conveter.scnt}}</span>
                                                </section>
                                                <section class="view text-secondary" ng-if="$index != 0">
                                                    {{conveter.cnt}} Chương
                                                </section>
                                                <section class="extra-info" ng-if="$index == 0">
                                                    <p>Số Chương đã đăng: {{conveter.cnt}}</p>
                                                </section>
                                            </section>
                                            <section class="thumb" ng-if="$index == 0">
                                                <section class="book-cover">
                                                    <a class="book-cover-link"
                                                       ng-href="/member/{{conveter.uid}}"
                                                       ng-attr-title="{{conveter.vnName}}">
                                                        <img ng-src="{{conveter.uavatar?conveter.uavatar:noImage}}"
                                                             ng-alt="{{conveter.udname?conveter.udname:conveter.uname}}">
                                                    </a> <span class="book-cover-shadow"></span>
                                                </section>
                                            </section>
                                        </section>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <th:block th:include="web/layout :: footer"></th:block>
</section>
</body>
</html>
