<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:include="web/layout :: head"></th:block>
    <!--TinyMCE plugins-->
    <script type="text/javascript" th:src="@{/bower/tinymce/tinymce.js}"></script>
</head>
<body>
<th:block th:include="web/layout :: loading"></th:block>
<section class="page-wrapper">
    <th:block th:include="web/layout :: navbar"></th:block>
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container-fluid">
                <section class="featured-content" id="content">
                    <section class="row">
                        <th:block th:include="web/account/navbar_left :: navbar-left"></th:block>
                        <section class="col-lg-10 col-md-9">
                            <section class="row">
                                <section class="col-12">
                                    <div class="pb-2 pt-2 mb-4 border-bottom">
                                        <h3>
                                            <span class="oi oi-book"></span> Thêm Thể Loại
                                        </h3>
                                    </div>
                                    <form method="POST" class="form-horizontal"
                                          th:object="${category}"
                                          th:action="@{/tai-khoan/ad_mod/them_the_loai}" enctype="multipart/form-data">
                                        <div class="form-group row">
                                            <label class="col-sm-2 font-weight-bold">Tên Thể Loại:</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" th:field="*{name}"/>
                                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                                      class="help-error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <div class="col-sm-10">
                                                <a class="btn btn-truyen pr-2" th:href="@{/tai-khoan/ad_mod/list_the_loai}">Quay
                                                    Lại</a>
                                                <input type="reset" class="btn btn-truyen" value="Khôi Phục"/>
                                                <input type="submit" class="btn btn-truyen" value="Thêm"/>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <th:block th:include="web/layout :: footer"></th:block>
</section>
</body>
</html>