<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="storyOfOnGoing">
    <section class="col-sm-12 pt-2 pb-2" ng-repeat="story in listOngoing"
             style="border-bottom: 1px dashed #989090;" ng-show="listOngoing.length !== 0">
        <section class="row">
            <div class="col-12 col-md-8 col-sm-8">
                <h5 style="font-size: 16px"><a
                        title="Hồng Hoang Tầm Đạo Giả"
                        ng-href="/truyen/{{story.id}}"
                        target="_blank">{{story.vnName}}</a>  - ID: {{story.id}}
                </h5>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <a ng-href="/tai-khoan/them_chuong/{{story.id}}/"
                   class="btn btn-xs btn-read">Thêm chương</a>
                <a class="btn btn-xs btn-read"
                   href="/tai-khoan/sua_truyen/{{story.id}}/">Sửa</a>
                <a href="/tai-khoan/list_chuong/{{story.id}}/"
                   class="btn btn-xs btn-read">DSC</a>
                <a hg-href="{{story.cnLink}}"
                   target="_blank"
                   class="btn btn-xs btn-read">Kiểm Tra</a>
                <a href="/tai-khoan/xoa_truyen/{{story.id}}/"
                   target="_blank"
                   class="btn btn-xs btn-read">Xóa</a>
            </div>
        </section>
    </section>
</th:block>
<th:block th:fragment="storyOfComplte">
    <section class="col-sm-12 pt-2 pb-2" ng-repeat="story in listComplte"
             style="border-bottom: 1px dashed #989090;" ng-show="listComplte.length !== 0">
        <section class="row">
            <div class="col-12 col-md-8 col-sm-8">
                <h5 style="font-size: 16px"><a
                        title="Hồng Hoang Tầm Đạo Giả"
                        ng-href="/truyen/{{story.id}}"
                        target="_blank">{{story.vnName}}</a>  - ID: {{story.id}}
                </h5>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <a ng-href="/tai-khoan/them_chuong/{{story.id}}/"
                   class="btn btn-xs btn-read">Thêm chương</a>
                <a class="btn btn-xs btn-read"
                   href="/tai-khoan/sua_truyen/{{story.id}}/">Sửa</a>
                <a href="/tai-khoan/list_chuong/{{story.id}}/"
                   class="btn btn-xs btn-read">DSC</a>
                <a hg-href="{{story.cnLink}}"
                   target="_blank"
                   class="btn btn-xs btn-read">Kiểm Tra</a>
                <a href="/tai-khoan/xoa_truyen/{{story.id}}/"
                   target="_blank"
                   class="btn btn-xs btn-read">Xóa</a>
            </div>
        </section>
    </section>
</th:block>
<th:block th:fragment="storyOfHidden">
    <section class="col-sm-12 pt-2 pb-2" ng-repeat="story in listHidden"
             style="border-bottom: 1px dashed #989090;" ng-show="listHidden.length !== 0">
        <section class="row">
            <div class="col-12 col-md-8 col-sm-8">
                <h5 style="font-size: 16px"><a
                        title="Hồng Hoang Tầm Đạo Giả"
                        ng-href="/truyen/{{story.id}}"
                        target="_blank">{{story.vnName}}</a>  - ID: {{story.id}}
                </h5>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <a ng-href="/tai-khoan/them_chuong/{{story.id}}/"
                   class="btn btn-xs btn-read">Thêm chương</a>
                <a class="btn btn-xs btn-read"
                   href="/tai-khoan/sua_truyen/{{story.id}}/">Sửa</a>
                <a href="/tai-khoan/list_chuong/{{story.id}}/"
                   class="btn btn-xs btn-read">DSC</a>
                <a hg-href="{{story.cnLink}}"
                   target="_blank"
                   class="btn btn-xs btn-read">Kiểm Tra</a>
                <a href="/tai-khoan/xoa_truyen/{{story.id}}/"
                   target="_blank"
                   class="btn btn-xs btn-read">Xóa</a>
            </div>
        </section>
    </section>
</th:block>
<th:block th:fragment="storyOfStop">
    <section class="col-sm-12 pt-2 pb-2" ng-repeat="story in listStop"
             style="border-bottom: 1px dashed #989090;" ng-show="listStop.length !== 0">
        <section class="row">
            <div class="col-12 col-md-8 col-sm-8">
                <h5 style="font-size: 16px"><a
                        title="Hồng Hoang Tầm Đạo Giả"
                        ng-href="/truyen/{{story.id}}"
                        target="_blank">{{story.vnName}}</a>  - ID: {{story.id}}
                </h5>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <a class="btn btn-xs btn-read"
                   href="/tai-khoan/sua_truyen/{{story.id}}/">Sửa</a>
                <a href="/tai-khoan/list_chuong/{{story.id}}/"
                   class="btn btn-xs btn-read">DSC</a>
                <a hg-href="{{story.cnLink}}"
                   target="_blank"
                   class="btn btn-xs btn-read">Kiểm Tra</a>
                <a href="/tai-khoan/xoa_truyen/{{story.id}}/"
                   target="_blank"
                   class="btn btn-xs btn-read">Xóa</a>
            </div>
        </section>
    </section>
</th:block>
</body>
</html>
