<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:include="web/layout :: head"></th:block>
    <script th:src="@{/bower/angular/angular.min.js}"></script>
    <!--My AngularJS Controller-->
    <script th:src="@{/js/controller/adminController.js}"></script>
    <!--Home AngularJS Service-->
    <script th:src="@{/js/service/WebService.js}"></script>
</head>
<body ng-app="ngApp">
<th:block th:include="web/layout :: loading"></th:block>
<section class="page-wrapper" ng-controller="accountAdModController"
         ng-init="init()">
    <th:block th:include="web/layout :: navbar"></th:block>
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container-fluid">
                <section class="featured-content" id="content">
                    <section class="row">
                        <th:block th:include="web/account/navbar_left :: navbar-left"></th:block>
                        <section class="col-lg-10 col-md-9">
                            <section class="row">
                                <section class="col-12">
                                    <section class="alert alert-primary"
                                             th:if="${checkAddChapter!= null && checkAddChapter == true}">
                                        <strong>Success!</strong> Sửa Chapter thành công!
                                    </section>
                                    <section class="alert alert-danger"
                                             th:if="${checkAddChapter!= null && checkAddChapter == false}">
                                        <strong>Thông báo!</strong> Có lỗi xảy ra sửa Chapter thất bại!
                                    </section>
                                    <section class="alert alert-danger"
                                             th:if="${checkEditChapter!= null}">
                                        <strong>Thông báo!</strong> <span th:text="${checkEditChapter}"></span>
                                    </section>
                                    <section class="alert alert-primary"
                                             th:if="${checkEditChapterTrue!= null}">
                                        <strong>Thông báo!</strong> <span th:text="${checkEditChapterTrue}"></span>
                                    </section>
                                    <section class="alert alert-danger"
                                             th:if="${checkEditChapterFalse!= null}">
                                        <strong>Thông báo!</strong> <span th:text="${checkEditChapterFalse}"></span>
                                    </section>
                                    <div class="col-12">
                                        <div class="mb-3 border-bottom">
                                            <h4><span class="fas fa-user" style="" aria-hidden="true"></span> Quản Lý
                                                Truyện <span
                                                ></span></h4>
                                        </div>
                                        <section class="mt-2">
                                            <section class="row form-group">
                                                <section class="col-sm-6">
                                                    <label for="staticEmail" class="col-form-label">Tìm Kiếm Theo
                                                        Tên: </label>
                                                    <input type="text" id="staticEmail" class="form-control"
                                                           placeholder="Số thứ tự chương"
                                                           ng-model="search" ng-change='getListChapter(1)'/>
                                                </section>
                                                <section class="col-sm-6">
                                                    <label for="inputState" class="col-form-label">Trạng Thái: </label>
                                                    <select id="inputState" class="form-control"
                                                            data-ng-model="selectStatus"
                                                            ng-change="getSelectd()"
                                                            data-ng-options="item.name for item in listStatus track by item.id">
                                                    </select>
                                                </section>
                                            </section>
                                        </section>
                                        <table class="table mt-2">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Tên Truyện</th>
                                                <th scope="col">Lượt Xem</th>
                                                <th scope="col">Vip</th>
                                                <th scope="col">Trạng Thái</th>
                                                <th scope="col">Thao Tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-show="listChapter.length === 0">
                                                <td colspan="4" class="text-center">Chưa có Truyện nào!</td>
                                            </tr>
                                            <tr ng-show="listChapter.length !== 0" ng-repeat="item in listStory">
                                                <th scope="row">{{item.id}}</th>
                                                <td>
                                                    <a ng-href="/truyen/{{item.id}}"
                                                       class="align-items-center d-flex">
                                                        {{item.vnName}}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{item.countView}}
                                                </td>
                                                <td>
                                                    <button ng-show="item.dealStatus === 0" type="button"
                                                            class="btn btn-xs btn-primary">Free
                                                    </button>
                                                    <button ng-show="item.dealStatus === 1" type="button"
                                                            class="btn btn-xs btn-success">Vip
                                                    </button>
                                                </td>
                                                <td>
                                                    <button ng-show="item.status === 0" type="button"
                                                            class="btn btn-xs btn-secondary">Ẩn
                                                    </button>
                                                    <button ng-show="item.status === 1" type="button"
                                                            class="btn btn-xs btn-primary">Đang Ra
                                                    </button>
                                                    <button ng-show="item.status === 2" type="button"
                                                            class="btn btn-xs btn-primary">Tạm Dừng
                                                    </button>
                                                    <button ng-show="item.status === 3" type="button"
                                                            class="btn btn-xs btn-success">Hoàn Thành
                                                    </button>
                                                </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')"
                                                       ng-href="/tai-khoan/admin/them_chuong/{{item.id}}/"
                                                       class="btn btn-xs btn-read">Thêm chương</a>
                                                    <a class="btn btn-xs btn-read"
                                                       ng-href="/tai-khoan/ad_mod/sua_truyen/{{item.id}}/">Sửa</a>
                                                    <a ng-href="/tai-khoan/ad_mod/list_chuong/{{item.id}}/"
                                                       class="btn btn-xs btn-read">DSC</a>
                                                    <a ng-href="{{item.cnLink}}" target="_blank"
                                                       class="btn btn-xs btn-read">Kiểm Tra</a>
                                                    <button ng-click="deleteStoryAdmin(story.id)"
                                                            class="btn btn-xs btn-read">Xóa
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <section ng-show="totalPages>1" class="col-12">
                                            <ul class="pagination justify-content-end mb-3 mt-3 float-right">
                                                <li ng-show="currentPage != 1" class="page-item">
                                                    <a class="page-link"
                                                       ng-click="getListChapter(currentPage - 1)">
                                                        <i class="fas fa-step-backward fa-sm"></i>
                                                    </a>
                                                </li>
                                                <li ng-repeat="i in page"
                                                    ng-class="i===currentPage?'page-item active': 'page-item'">
                                                    <a ng-class="i===currentPage?'page-link disabled': 'page-link'"
                                                       ng-click="getListChapter(i)">{{i}}</a>
                                                </li>
                                                <li ng-show="currentPage != totalPages" class="page-item">
                                                    <a class="page-link"
                                                       ng-click="getListChapter(currentPage + 1)">
                                                        <i class="fas fa-step-forward fa-sm"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <th:block th:include="web/layout :: footer"></th:block>
</section>
</body>
</html>
